<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>창원대 원양</title>
	
	<meta name="description" content="창원대 원룸 양도 서비스 입니다.">
	<link rel="shortcut icon" href="/image/logo.png">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/admin/main.css">
</head>

<body>
	<div class="container-fluid">
		<!-- 상단 헤더 -->
		<nav class="navbar navbar-light bg-light sticky-top">
			<a class="navbar-brand" href="/">
				<img src="/image/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""
					loading="lazy">
			</a>
		</nav>

		<!-- 점보트론 -->
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4 text-center">창원대 원양</h1>
				<p class="lead text-center">창원대학교 원룸 양도 서비스입니다</p>
			</div>
		</div>
		
		<div class="container">
			<button type="button" class="btn btn-primary notice-all-select">전체 선택</button>
			<button type="button" class="btn btn-danger notice-specific-delete">선택 삭제</button>
			<div class="notice-board">
				<table class="table table-hover mt-4 mb-3">
					<tbody>
						<% for (let i = 0; i < notice.length; i++) { %>
							<tr class="notice-board-tr">
								<td scope="row">
									<input type="checkbox" name="notice">
									<input type="hidden" name="notice_url" value="/notices/<%=notice[i].post_idx %>">
									<a href="/notices/<%=notice[i].post_idx %>">
									    <%=notice[i].title %>
									</a>
									<div class="float-right">
										<button type="button" class="btn btn-info edit-btn" value="/admin/edit/<%=notice[i].post_idx %>">수정</button>
									</div>
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<br><Br>
			<button type="button" class="btn btn-primary board-all-select">전체 선택</button>
			<button type="button" class="btn btn-danger board-specific-delete">선택 삭제</button>
			<div class="post-board">
				<table class="table table-hover mt-4 mb-3">
					<tbody>
						<% for (let i = 0; i < post.length; i++) { %>
							<tr class="notice-board-tr">
								<td scope="row">
									<input type="checkbox" name="post">
									<input type="hidden" name="post_url" value="/posts/<%=post[i].post_idx %>">
									<a href="/posts/<%=post[i].post_idx %>">
										<%=post[i].title %>
									</a>
									<div class="float-right">
										<button type="button" class="btn btn-info edit-btn" value="/posts/<%=post[i].post_idx %>">수정</button>
									</div>
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
		
		<footer class="text-muted border-top">
			<div class="container mt-4 pb-4">
				<p class="float-right">
					<a href="#">위로 가기</a>
				</p>
				<p>창원대학교 원룸 양도 서비스</p>
				<p>버그를 발견하셨나요? cynxia90@gmail.com로 알려주시면 감사하겠습니다!</p>
			</div>
		</footer>
	</div>
	<script src="/js/admin/main.js"></script>
</body>

</html>
